{% load static %} {% for plant in planted_plants %}
<tr>
  <td class="px-2">
    <a href="{% url 'plant_detail' pk=plant.pk %}">{{ plant.plant_name }}</a>
  </td>
  <td class="px-2">{{ plant.best_season_to_plant_display }}</td>
  <td class="px-2">{{ plant.get_fertiliser_display }}</td>
  <td class="px-2">{{ plant.get_plant_spot_sunlight_condition_display }}</td>
  <td class="px-2">{{ plant.plant_date }}</td>
  <td class="px-2">{{ plant.harvest_date }}</td>
  <td class="px-2">
    <button
      type="button btn-small"
      class="btn btn-primary"
      hx-get="{% url 'edit_plant_record' pk=plant.pk %}"
      hx-target="#dialog"
    >
      Edit record
    </button>
  </td>
  <td class="px-2">
    <button
      type="button btn-small"
      class="btn btn-primary"
      hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
      hx-delete="{% url 'delete_plant_record' pk=plant.pk %}"
      hx-prompt="Are you sure you want to delete this record?"
      hx-disabled-elt="this"
    >
      Delete record
    </button>
  </td>
</tr>
{% endfor %}
